.outer-header {
    display: flex;
    flex-direction: column;

}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background-color: white;

}

.left-section {
    display: flex;
    align-items: center;
    padding-left: -50px;
}

.middle-section {
    margin-right: 20px;
    flex: 1;
    max-width: 680px;
    padding-top: 10px;
    display: flex;
    align-items: center;
}

.right-section {
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hamburger-menu {
    margin: 0 24px 0 24px;
    height: 25px;
}

.youtube-logo-kr {
    height: 50px;
}

.search-icon {
    height: 40px;
    width: 60px;
    border-radius: 0 25px 25px 0;
    border-color: rgba(220, 220, 220, 0.1);
}

.search-bar {
    flex: 1;
    height: 34px;
    padding-left: 10px;
    border-radius: 25px 0 0 25px;

    border-color: rgba(232, 232, 232, 0.1);
    border-color: rgba(220, 220, 220, 0.1);
}


.search-bar::placeholder {
    font-family: Roboto, Arial;
    font-size: 16px;


}

.voice-search-icon {
    background-color: rgba(255, 255, 255);
    border-radius: 50px;
    border: none;
    height: 40px;
    width: 40px;
    margin-left: 10px;
    align-items: center;
}

.voice-search-icon:hover {
    background-color: rgb(209, 209, 209);

}

.three-dot-icon {
    display: flex;
    align-items: center;
}

.login-icon {
    display: flex;
    align-items: center;
    padding: 2px;
    padding-left: 20px;
    padding-right: 20px;
    height: 30px;
    margin-left: 20px;
    border: 1px solid rgba(6, 95, 212, 0.2);
    border-radius: 25px;
}

.login-icon:hover {
    background-color: rgb(141, 216, 241);
    ;


}

.head-nav-bar,
.head-nav-bar-inside {
    height: 50px;
    background-color: gold;
    position: fixed;
    top: 50px;
    left: 200px;
    right: 300px;
    display: flex;
    align-items: center;
    column-gap: 15px;
    padding-left: 50px;

}

.head-nav-bar {
    width: 100%;
}


.nav-box,
.nav-box-2 {
    font-family: Roboto, Arial;
    border-radius: 6px;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    align-items: center;
    background-color: rgb(225, 225, 225);
    transition: 0.15s;

}

.nav-box-2 {
    background-color: black;
    color: white;
}

.nav-box:hover {
    background-color: rgb(201, 201, 201);
}