.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 70px;
    width: 200px;
    z-index: 200;
    background-color: white;
}






.sidebar div {
    display: flex;
    width: 90%;
    margin-left: 2%;
    padding-left: 10px;
    height: 43px;
    column-gap: 15px;
    align-items: center;
    border-radius: 9px;
}

.sidebar div:hover {
    transition: 0.125s;
    background-color: rgb(225, 225, 225);
}

.gray-line {
    border: 0.4px solid rgba(128, 128, 128, 0.1);
    margin: 10px 0 10px 0;
}